In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('2022 Movies.csv')
df.head()

,Year,Name,Genre,IMDB,Rotten Tomatoes,Rotten Audience,Metacritic,Google_user,PR,Country,Language,Comic,Animation,Tv_series,Budget,Box_office,Run_time,Month
0,2021,The Last Duel,Drama/Historical Drama,7.4,85,81,67,73,7.0,UK,English,no,no,no,100.0,30.6,153,January
1,2021,Ghostbusters: Afterlife,Fantasy/Comedy,7.1,63,94,45,76,6.5,USA,English,no,no,no,75.0,204.4,124,January
2,2021,Hawkeye,Action/Superhero,7.5,88,89,66,89,7.5,USA,English,yes,no,yes,150.0,0.0,40-62,January
3,2021,Operation Java,Crime/Drama,8.2,0,0,0,96,7.5,India,Malayalam,no,no,no,0.0,0.0,146,January
4,2021,Eternals,Action/Superhero,6.3,47,77,52,71,6.5,USA,English,yes,no,no,200.0,402.0,156,January

### Descriptive Statistics

In [3]:
df.describe()

,Year,IMDB,Rotten Tomatoes,Rotten Audience,Metacritic,Google_user,PR,Budget,Box_office
count,181.00000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000
mean,2015.61326,6.919337,56.690608,63.116022,34.679558,80.044199,6.825967,41.144696,95.236115
std,8.49213,0.753445,33.486703,28.739304,31.509735,10.821698,0.857218,64.200114,176.781253
min,1963.00000,4.900000,0.000000,0.000000,0.000000,50.000000,5.000000,0.000000,0.000000
25%,2012.00000,6.400000,40.000000,54.000000,0.000000,72.000000,6.000000,0.000000,0.000000
50%,2019.00000,6.900000,66.000000,72.000000,46.000000,81.000000,7.000000,9.000000,11.200000
75%,2022.00000,7.400000,85.000000,85.000000,63.000000,88.000000,7.500000,60.000000,104.400000
max,2022.00000,9.200000,100.000000,100.000000,86.000000,97.000000,9.000000,340.000000,1004.000000

#### we can break down descriptive statistics functions

In [15]:
print('Mean:', df['Budget'].mean())

print('Median:', df['Budget'].median())

print('Standard Deviation:', df['Budget'].std())

Mean: 41.144696132596685
Median: 9.0
Standard Deviation: 64.20011412711762

#### IQR
* actually there are several ways to find 'IQR'. Here we use two ways

In [17]:
#1
from scipy import stats

interquartile_range = stats.iqr(df['Budget'])
interquartile_range

60.0

In [18]:
#2
q75, q25 = np.percentile(df['Budget'], [75,25])
iqr = q75 - q25
iqr

60.0

#### Break down Interquartile range

In [31]:

print('25th percentile:', np.percentile(df['Budget'], 25))
print('50th percentile:', np.percentile(df['Budget'], 50))
print('75th percentile:', np.percentile(df['Budget'], 75))

25th percentile: 0.0
50th percentile: 9.0
75th percentile: 60.0

In [32]:
# variance

print('Variance:', np.var(df['Budget']))

Variance: 4098.883081261253

In [25]:
# sum

print('Total Budget:', np.sum(df['Budget']))

print('Total Box office Collection:', np.sum(df['Box_office']))

Total Budget: 7447.1900000000005
Total Box office Collection: 17237.73674871

In [37]:
print('Minimum:', np.amin(df['Budget']))
print('Maximum:', np.amax(df['Budget']))

Minimum: 0.0
Maximum: 340.0

In [39]:
# ptp returns the range of values (min-max)

np.ptp(df['Budget']) # Check the previous block result

340.0